* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: grey;
}
main {
    background: #fff;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container-score {
    display: flex;
}
#con {
    width: 100%;
    position: relative;
    bottom: 800px;
}
/* 行 */
.row{
    display: flex;
}
.row:last-child {
    border-bottom: #666 1px solid;
}
.row.create{
    height: 0;
}
/* 一个块 */
.cell{
    height: 100%;
    flex:1;
    border-left: #666 1px solid;
}

.black {
    background: black;
}


.start {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: yellowgreen;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.start.hidden {
    display: none;
}

/* level */

.level {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
    color: #32e0c4;
    font-size: 22px;
    z-index: 10;
    display: none;
}
.level.show {
    display: block;
}

.fail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 150px;
    line-height: 25px;
    text-align: center;
    font-weight: bolder;
    color: #32e0c4;
    font-size: 22px;
    z-index: 10;
    display: none;
}
.fail span {
    display: block;
}
.fail.show {
    display: block;
}

/* score */

#score {
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    z-index: 10;
    background: #32e0c4;
    box-shadow: 0px 0px px rgba(0, 0, 0, 0.466);
}
